/* Write your code here. */

.bgContainer {
  background-color: #d7dae6;
  height: 100vh;
  padding: 3%;
  width: 60%;
}

.faqsBg {
  background-color: white;
  border-radius: 10px;

  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.itemsSection {
  padding: 0px;
  list-style: none;

  width: 100%;
  height: 100%;
}
